{
    email {$EMAIL}
}

{$DOMAIN} {
    reverse_proxy app:15080 {
        transport http {
            response_header_timeout 80s
            read_timeout 90s
            write_timeout 90s
            dial_timeout 5s
        }
    }
}