body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    font-size: 1.5rem;
    margin: 0 0 20px;
    color: #ececf1;
}

.back-link {
    text-decoration: none;
    color: #10a37f;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid #10a37f;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.back-link:hover {
    background-color: #10a37f;
    color: #ececf1;
}
